<a href="https://colab.research.google.com/github/Sanaz-salari/Exploratory-Data-Analysis-EDA/blob/main/Exploratory_Data_Analysis_(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dash
  Downloading dash-2.4.1-py3-none-any.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 18.4 MB/s
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (5.5.0)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting flask-compress
  Downloading Flask_Compress-1.12-py3-none-any.whl (7.9 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (1.15.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357 kB)
     |████████████████████████████████| 357 kB 50.3 MB/s
Installing collected packages: brotli, flask-compress, dash-table, dash-html-components, dash-core-components, dash
Successfully installed brotli-1.0.9 dash-2.4.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.12

In [ ]:
import numpy as np
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.figure_factory as ff
import pandas as pd


import sys
np.set_printoptions(threshold=sys.maxsize)

In [ ]:
app = dash.Dash(__name__)

df1 = pd.read_csv("simplyhired.csv")
df1.drop(['Unnamed: 0'], axis=1, inplace=True)
df1['jobtype'] = np.nan
df2 = pd.read_csv("indeed_jobs.csv")
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df2['company'] = np.nan
df2 = df2[['company', 'description', 'location', 'salary', 'title', 'jobtype']]
df3 = pd.read_csv("flexjobs.csv")
df3.drop(['Unnamed: 0'], axis=1, inplace=True)
df3['company'] = np.nan
df3 = df3[['company', 'description', 'location', 'salary', 'title', 'jobtype']]
frames = [df1, df2, df3]
df = pd.concat(frames)
df.salary = df.salary.str.replace('$', '')
df.salary = df.salary.str.replace(',', '')

In [ ]:
#title
df.salary = df.salary.str.replace('Analyat', 'Analyst')
df.loc[df['title'].str.contains('Data Scientist', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Data Science', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Machine Learning', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Artificial Intelligence', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('ML'), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('AI'), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Data Analyst', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data Analytics', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data & Analytics', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data Specialist', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data Engineer', case=False), 'title'] = 'Data Engineer'
df.loc[df['title'].str.contains('Data Architect', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Mining', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Miner', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Modeler', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Quality', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Manager', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Big Data', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Manager', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Migration', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data Visualization', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Statistician', case=False), 'title'] = 'Statistician'
df.loc[df['title'].str.contains('Statistical', case=False), 'title'] = 'Statistician'
df.loc[df['title'].str.contains('Mathematician', case=False), 'title'] = 'Mathematician'
df.loc[df['title'].str.contains('Mathematical', case=False), 'title'] = 'Mathematician'
df.loc[df['title'].str.contains('Marketing Manager', case=False), 'title'] = 'Marketing Manager'
df.loc[df['title'].str.contains('Product Manager', case=False), 'title'] = 'Product Manager'
df.loc[df['title'].str.contains('Python Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Software Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('App Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Mobile Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Frontend Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Web Applications Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('PHP Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Full-Stack Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Backend Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Node.js Developer', case=False), 'title'] = 'Software Developer'
df.loc[df['title'].str.contains('Bioinformatician', case=False), 'title'] = 'Bioinformatician'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Scientist', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Science', case=False), 'title'] = 'Data Scientist'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Analyst', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Analytics', case=False), 'title'] = 'Data Analyst'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Engineer', case=False), 'title'] = 'Data Engineer'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Architect', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Mining', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Miner', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Quality', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Consultant', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Operations', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Specialist', case=False), 'title'] = 'Other Data Jobs'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Manager', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Management', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Director', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Supervisor', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Associate', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Lead', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('Data', case=False) & df['title'].str.contains('Mentor', case=False), 'title'] = 'Data Manager'
df.loc[df['title'].str.contains('BI') & df['title'].str.contains('Developer', case=False), 'title'] = 'BI Developer'
#df.loc[(df['title'].str.contains('Business Intelligence', case=False), 'title') and (df['title'].str.contains('Developer', case=False), 'title')] = 'BI Developer'

In [ ]:
import sys
np.set_printoptions(threshold=sys.maxsize)

#remote - person
df['jobtype'].fillna('In Person', inplace=True)
df['Remote_InPerson'] = np.nan
df['jobtype'].replace('100% Remote Job', 'Remote')
df.loc[df.jobtype.isin(['Remote', 'Temporarily Remote', 'Partial Remote Job',
                       'Option for Remote Job', 'Remote - During Pandemic Job']), 'Remote_InPerson'] = 'Remote'
df.loc[df.jobtype.isin(['In Person', 'Flexible Schedule Job', 'Full-Time', 'Temporary Job',
                       'Part-Time', 'Freelance Job']), 'Remote_InPerson'] = 'In Person'
pd.set_option("display.max_rows", None, "display.max_columns", None)
df.drop_duplicates(inplace=True)
df.reset_index(inplace=True)
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [ ]:
for index, row in df.iterrows():
    #salary
    if row.salary is not np.nan:
        x = str(row.salary).split()
        #print(x)
        time_interval = 0
        first_value = 0
        second_value = 0
        yearly_salary = 0
        for i in x:
            if i.replace('.', '').isnumeric():
                if first_value == 0:
                    first_value = float(i)
                else:
                    second_value = float(i)
            else:
                if i == 'hour':
                    time_interval = 2080
                elif i == 'day':
                    time_interval = 261
                elif i == 'year':
                    time_interval = 1

        if time_interval == 0:
            if first_value > 1000:
                time_interval = 1
            elif first_value > 200:
                time_interval = 261
            else:
                time_interval = 2080
        if first_value > 0:
            if second_value > 0:
                yearly_salary = (second_value + first_value) / 2 * time_interval
            else:
                yearly_salary = first_value * time_interval
        else:
            yearly_salary = np.nan
        #print(yearly_salary)
        df.at[index, 'salary'] = yearly_salary

    #location
    State_Code = np.nan
    x = str(row.location)
    x = x.replace(' ', '')
    for i in range(10):
        x = x.replace(str(i), '')
    x = x.replace('+locations', '')
    x = x.replace('+location', '')
    x = x.replace(',orUSNational', '')
    x = x.replace('USNational', '')
    if(x.count(',')) == 1:
        x2 = x.split(',')
        if len(x2[1]) == 2:
            State_Code = x2[1]
        elif len(x2[1]) == 3:
            State_Code = str(x2[1])[:2]
    else:
        if x in us_state_to_abbrev.keys():
            State_Code = us_state_to_abbrev[x]
        elif x in us_state_to_abbrev.values():
            State_Code = x
        else:
            State_Code = str(row.location)
    df.at[index, 'location'] = State_Code

In [ ]:
'''
#fig 2
df_Salary_JobTitle = df[df['salary'].notna()]
df_Salary_JobTitle = df_Salary_JobTitle.groupby('title', as_index=False)['salary'].mean().nlargest(10, 'salary')
fig2 = px.bar(df_Salary_JobTitle, x="title", y="salary") #, color="City", barmode="group"
'''

#fig 3
df_jobtype = df[df['jobtype'].notna()]
df_jobtype = df_jobtype.groupby(['jobtype', 'Remote_InPerson'], as_index=False)['title'].count()
fig3 = px.sunburst(df_jobtype, path=['Remote_InPerson', 'jobtype'], values='title',
                  color='title', hover_data=['title'],
                  color_continuous_scale='RdBu',
                  color_continuous_midpoint=np.average(df_jobtype['title'], weights=df_jobtype['title']))

#fig 4
df_Salary_Variation = df[df['salary'].notna()]
df_Salary_Variation = df_Salary_Variation[df['title'].isin(['Data Scientist', 'Data Engineer', 'Data Engineer', 'Data Manager', 'Other Data Jobs', 'Software Developer'])]
fig4 = px.box(df_Salary_Variation, x="title", y="salary")

In [ ]:
app.layout = html.Div(children=[
    html.Div(children=[
        html.H1(children='DSE 6000 Web App project'),
        html.H2(children='Job Data'),
    ], style={'text-align': 'center', 'background-color':'lavender', 'margin':'10px 3px 3px 3px', 'padding':'3px 3px 3px 3px'}),
    html.Div(children=[
    html.H3(children='Count of Job Titles across states'),
    ] , style={'background-color':'cornflowerblue', 'margin':'10px 3px 3px 3px', 'padding':'3px 3px 3px 3px'}),
    html.Div(children=[
        html.Label('Job Title'),
        dcc.Dropdown(
            options=[
                {'label': 'All', 'value': 'All'},
                {'label': 'Data Scientist', 'value': 'Data Scientist'},
                {'label': 'Data Analyst', 'value': 'Data Analyst'},
                {'label': 'Data Engineer', 'value': 'Data Engineer'},
                {'label': 'Data Manager', 'value': 'Data Manager'},
                {'label': 'Other Data Jobs', 'value': 'Other Data Jobs'},
                {'label': 'Software Developer', 'value': 'Software Developer'}
            ],
            value='MTL', id='Indicator_id',
        )
    ], style={'width':'40%'}),
    dcc.Graph(id='JobTitle_Count'),
    html.Div(children=[
        html.H4(children='Knowing about the status of each job title in each state is of the significant importance for one who seeks a job. As we see among all of the states, data-related jobs has the highest numebr in California and New York, respectively.')
    ], style={'background-color': 'mintcream', 'margin': '3px 3px 3px 3px', 'padding': '3px 3px 3px 3px'}),
    html.Div(children=[
    html.H3(children='Job Types'),
    ] , style={'background-color':'cornflowerblue', 'margin':'10px 3px 3px 3px', 'padding':'3px 3px 3px 3px'}),
    dcc.Graph(id='Job_Types', figure=fig3),
    html.Div(children=[
        html.H4(children='Job types including remote and in person can give a view that there still most of the jobs are done in person.')
    ], style={'background-color': 'mintcream', 'margin': '3px 3px 3px 3px', 'padding': '3px 3px 3px 3px'}),
    html.Div(children=[
        html.H3(children='Salary Variation'),
    ] , style={'background-color':'cornflowerblue', 'margin':'10px 3px 3px 3px', 'padding':'3px 3px 3px 3px'}),
    dcc.Graph(id='Salary_Variation', figure=fig4),
    html.Div(children=[
        html.H4(children='Salary comparison between hot job titles related to data including minimum and maximum salary values show that data scientist has a higher salary.')
    ], style={'background-color': 'mintcream', 'margin': '3px 3px 3px 3px', 'padding': '3px 3px 3px 3px'}),
    html.Div(children=[
        html.H3(children='Jobs in states'),
    ] , style={'background-color':'cornflowerblue', 'margin':'10px 3px 3px 3px', 'padding':'3px 3px 3px 3px'}),
    dcc.RadioItems(
        id='states',
        options=[
            {'label': 'California', 'value': 'CA'},
            {'label': 'New York', 'value': 'NY'},
            {'label': 'Virginia', 'value': 'VA'},
            {'label': 'Massachusetts', 'value': 'MA'},
            {'label': 'Texas', 'value': 'TX'},
        ],
        value='Linear',
        labelStyle={'display': 'inline-block'}
    ),
    html.Div(children=[
        html.H4(children='Companies'),
        dcc.Graph(id='Jobs_In_States_Com')
    ], style={'width':'40%', 'float': 'left', 'text-align': 'center'}),
    html.Div(children=[
        html.H4(children='TOP 5 Job Titles'),
        dcc.Graph(id='Jobs_In_States')
    ], style={'width':'40%', 'float': 'right', 'text-align': 'center'}),
    html.Div(children=[
        html.H4(children='Job Type'),
        dcc.Graph(id='Jobs_In_States_R_IP')
    ], style={'width':'40%', 'float': 'left', 'text-align': 'center'}),
    html.Div(children=[
        html.H4(children='Job Salaries'),
        dcc.Graph(id='Jobs_In_States_Payment')
    ], style={'width':'40%', 'float': 'right', 'text-align': 'center'}),
    html.Div(children=[
        html.H4(children='Different companies in 5 considered states have various number of hired data related  jobs. But among all these jobs, data scientists job is the most popular job.It is interesting that data engineers have the largest income in Virginia, much more than maximum income earned by a data scientist.')
    ], style={'background-color': 'mintcream', 'margin': '3px 3px 3px 3px', 'padding': '3px 3px 3px 3px', 'float': 'right'})
], style={'font-family': 'Andale Mono, monospace'})
@app.callback(
    Output('JobTitle_Count', 'figure'),
    Input('Indicator_id', 'value'))

In [ ]:
def update_figure1(selected_Indicator):
    if selected_Indicator == 'All':
        df_JobTitle_Count = df.groupby('location', as_index=False)['title'].count()
    else:
        df_JobTitle_Count = df[df['title'] == selected_Indicator].groupby('location', as_index=False)['title'].count()
    fig = px.choropleth(df_JobTitle_Count, locationmode="USA-states", scope="usa", locations="location", color="title", hover_name="title",
                        color_continuous_scale=px.colors.sequential.haline)
    fig.update_layout(transition_duration=500)
    return fig

@app.callback(
    Output('Jobs_In_States', 'figure'),
    Input('states', 'value'))
def update_figure5(states):
    df_Jobs_In_States = df[df['location'] == states].groupby('title', as_index=False)['jobtype'].count().nlargest(5,'jobtype')
    fig5 = px.bar(df_Jobs_In_States, x="title", y="jobtype")
    fig5.update_layout(transition_duration=500)
    return fig5

@app.callback(
    Output('Jobs_In_States_R_IP', 'figure'),
    Input('states', 'value'))
def update_figure5(states):
    df_Jobs_In_States_R_IP = df[df['location'] == states].groupby('Remote_InPerson', as_index=False)['jobtype'].count()
    fig6 = px.pie(df_Jobs_In_States_R_IP, values='jobtype', names='Remote_InPerson')
    fig6.update_layout(transition_duration=500)
    return fig6

@app.callback(
    Output('Jobs_In_States_Com', 'figure'),
    Input('states', 'value'))
def update_figure5(states):
    df_Jobs_In_States_Com = df[df['location'] == states].groupby('company', as_index=False)['jobtype'].count().nlargest(10,'jobtype')
    df_Jobs_In_States_Com.columns = df_Jobs_In_States_Com.columns.str.replace('jobtype', 'Count of Jobs')
    fig7 = ff.create_table(df_Jobs_In_States_Com)
    fig7.update_layout(transition_duration=500)
    return fig7

@app.callback(
    Output('Jobs_In_States_Payment', 'figure'),
    Input('states', 'value'))
def update_figure5(states):
    df_Jobs_In_States_Salary_Variation = df[df['salary'].notna()]
    df_Jobs_In_States_Salary_Variation = df_Jobs_In_States_Salary_Variation[df_Jobs_In_States_Salary_Variation['title'].isin(['Data Scientist', 'Data Engineer', 'Data Engineer', 'Data Manager', 'Other Data Jobs', 'Software Developer'])]
    df_Jobs_In_States_Salary_Variation = df_Jobs_In_States_Salary_Variation[df_Jobs_In_States_Salary_Variation['location'] == states]
    fig8 = px.box(df_Jobs_In_States_Salary_Variation, x="title", y="salary")
    fig8.update_layout(transition_duration=500)
    return fig8
if __name__ == '__main__':
    app.run_server(debug=True)